{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block title %}
    Daftar Menu
{% endblock %}

{% block css %}
    
{% endblock %}

{% block customCss %}
    #tampung{    
        background-color: white;
        margin-top: 5%;
        margin-bottom: 5%;
        border-radius: 12px;
    }
{% endblock %}

{% block content %}
    <div class="container" id="tampung">
        <h1 class="display-3 text-center">Daftar Menu Makanan</h1>
		<a href="/tambah-menu/" class="btn btn-primary btn-lg">Tambah Menu</a>
        <hr>
        {% for obj in data %}
        {% if forloop.counter0|divisibleby:"2" %}
        <div class="row">
            <div class="col d-flex">
                <div class="card mx-5 my-5" style="width:400px">
                    <img class="card-img-top" src="{{ obj.urlimage }}" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title text-center text-capitalize">{{ obj.name }}</h4>
                        <a href="{% url 'KetersediaanMenu:ketersediaan_menu' obj.id %}" class="btn btn-primary btn-lg btn-block">Lihat Detail Menu</a>
                    </div>
                </div>
            </div>
        {% else %}
        <div class="col d-flex">
                <div class="card mx-5 my-5" style="width:400px">
                    <img class="card-img-top" src="{{ obj.urlimage }}" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title text-center text-capitalize">{{ obj.name }}</h4>
                        <a href="{% url 'KetersediaanMenu:ketersediaan_menu' obj.id %}" class="btn btn-primary btn-lg btn-block">Lihat Detail Menu</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    
{% endblock %}