{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/landing_page.css' %}">
{% endblock %}

{% block customCss %}
    #tempat{    
        background-color: white;
        margin-top: 15%;
        margin-bottom: 15%;
        border-radius: 12px;   
        padding: 25px;
        text-align: center;
    }
    .kunjung{
        background: tomato;
        width: 100%;
        text-align: center;
        border-radius: 12px;
        padding: 5px;
    }
    .card{
        background-color: beige;
    }
    .kunjung *{
        color: white;
    }
{% endblock %}

{% block content %}
    <div class="container" id="tempat">
        <h1 style="margin: 30px auto;color:tomato;"><b>Selamat Datang</b></h1>
        <div class="card-deck">
            <div class="card" style="width: 18rem;" {{hidden}}>
              <div class="card-body">
                <h3 class="card-title">Buat Counter Baru</h3>
                <div class="kunjung"><a href="{% url 'BukaCounter:index' %}" class="card-link">Kunjungi</a></div>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h3 class="card-title">Daftar Transaksi</h3>
                <div class="kunjung"><a href="{% url 'daftar_transaksi:hello-world' %}" class="card-link">Kunjungi</a></div>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h3 class="card-title">Daftar Menu Makanan</h3>
                <div class="kunjung"><a href="{% url 'landing_page:daftar_menu' %}" class="card-link">Kunjungi</a></div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}