{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
    Update Ketersediaan Menu
{% endblock %}

{% block css %}

{% endblock %}

{% block customCss %}
#detail_makanan {
    margin-top: 100px;
    margin-bottom: 100px;
}
{% endblock %}

{% block content %}
<div id="message"></div>

<div class="py-5" id="detail_makanan">
    <div class="container" >
      <div class="row">
        <div class="order-2 order-md-1 col-md-5">
          <img class="img-fluid d-block rounded shadow-lg mt-3" src="{{ image_url }}"> </div>
        <div class="order-1 order-md-2 col-md-7 bg-light shadow-lg">
          <h1 class="text-center text-capitalize m-1">{{ name }}</h1>
          <p class="text-justify mt-2">{{ description }}</p>
          <p class="text-center">Harga per porsi:</p>
          <p class="text-center font-weight-bold">{{ price }}</p>
          <p class="text-center">Status Ketersediaan:</p>
          <p class="text-center font-weight-bold" id="status-update">{{ status }}</p>
          <button type="button" class="btn btn-warning btn-lg btn-block mb-3" data-toggle="modal" data-target="#modal_ketersediaan">
            Update Ketersediaan
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modal_ketersediaan">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Update Ketersediaan</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" id="customRadio" name="status" value="Ada">
                  <label class="custom-control-label" for="customRadio">Ada</label>
                 </div>
                <div class="custom-control custom-radio my-2">
                   <input type="radio" class="custom-control-input" id="customRadio2" name="status" value="Tidak Ada">
                   <label class="custom-control-label" for="customRadio2">Tidak Ada</label>
                </div>
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" id="customRadio3" name="status" value="Habis">
                  <label class="custom-control-label" for="customRadio3">Habis</label>
                </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-warning btn-lg btn-block" data-dismiss="modal" onclick="update()">Ok</button>
               </div>
           </div>
      </div>
  </div>
{% endblock %}

{% block javascript %}
$("#customRadio").prop("checked", true);

function update() {
  var status = null;

  if ($("#customRadio").is(":checked")) {
    status = $("#customRadio").val();
  }
  else if ($("#customRadio2").is(":checked")) {
    status = $("#customRadio2").val();
  }
  else if ($("#customRadio3").is(":checked")) {
    status = $("#customRadio3").val();
  }

  if (status != null) {
    $.ajax({
      url: "{% url 'KetersediaanMenu:update' id %}",
      method: "POST",
      data: {
        "status" : status
      },
      dataType: "json",
      success: function(data) {
        console.log(data)
        var html = "<div class='alert alert-success text-center font-weight-bold text-capitalize' role='alert'>" +
                   "Ketersediaan Menu Berhasil di update" +
                   "</div>";
        $("#message").hide();
        $("#message").html(html);
        $("#message").fadeIn(1000);

        $("#status-update").hide();
        $("#status-update").html(status);
        $("#status-update").fadeIn(1000);
        setTimeout(function() {
          window.location = '{% url "landing_page:daftar_menu" %}';
      }, 2000);
      },
      error: function(data) {
        var html = "<div class='alert alert-danger text-center font-weight-bold text-capitalize' role='alert'>" +
                   "Ketersediaan Menu Gagal di update" +
                   "</div>";
        $("#message").html(html);
      }
    });
  }
  else {
    alert("Silahkan Pilih Status Ketersediaan!")
  }
}

{% endblock %}