<footer class="mainfooter" role="contentinfo" style="background-color:tomato;margin-top:70px;">
  <div class="footer-middle" id="footer-part">
  <div class="container">
	<div class="row">
		<div class="col-md-12 copy">
			<p class="text-center" style="color:white; margin-top:16px;">
                &copy; Copyright 2018 - Kelompok C5 RPL
            </p>
		</div>
	</div>
  </div>
  </div>
</footer>