<nav class="navbar navbar-expand-lg navbar-light" style="background-color:white;box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1), 0 4px 20px 0 rgba(0, 0, 0, 0.05);">
  <a class="navbar-brand" href="{% url 'landing_page:hello-world' %}">
    <span style="margin:10px;margin: 10px;font-family: 'Arvo', Georgia, Times, serif;font-size: 25px;font-weight:bold;letter-spacing:2px;color:tomato;">
        E-Canteen
    </span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'landing_page:hello-world' %}"><span style="color:tomato;">Home</span></a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    </ul>
    {% if request.session.username %}
    <button class="btn btn-danger navbar-btn" data-toggle="modal" data-target="#LogoutModal">Logout</button>
    <!-- Modal -->
    <div id="LogoutModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h5>Konfirmasi Logout</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <p>Apakah anda ingin logout?</p>
          </div>
          <div class="modal-footer">
            <form action="{% url 'HalamanLogin:logout' %}" method="post">
              {% csrf_token %}
              <input type=submit class="btn btn-success" value="Ya">
              <input type=button class="btn btn-danger" data-dismiss="modal" value="Tidak">
            </form>
          </div>
        </div>
    
      </div>
    </div>
    {% else %}
    <button class="btn btn-success navbar-btn" onclick="location.href='/halaman-login/'">Login</button>
    {% endif %}
  </div>
</nav>