{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/halaman_login.css' %}">
{% endblock %}

{% block customCss %}
{% endblock %}

{% block content %}
    <div class="login-box">
        <h1 class="center-text">Login ke E-Canteen</h1>
        <hr class="my-3">
        {% for message in messages %}
        <p {% if message.tags %} class="alert alert-danger" {% endif %}>{{ message }}</p>
        {% endfor %}
        <form action="{% url 'HalamanLogin:login' %}" method="post">
            {% csrf_token %}
            <div class="row" style="padding: 0 20px;">
                <div class="row helper">
                    <div class="col-md-3 helper1">Username</div>
                    <div class="col-md-9 helper2"><input type="text" class="form-control" id="username" name="username" required></div>
                </div>
                <div class="row helper">
                    <div class="col-md-3 helper1">Password</div>
                    <div class="col-md-9 helper2"><input type="password" class="form-control" id="password" name="password" required></div>
                </div>
                <div class="row helper" style="padding: 0 20px;margin-top:40px;">
                    <input type="submit" class="btn btn-primary btn-lg" data-toggle="modal" id="login" name="login" value="Login">
                </div>
          </form>
    </div>
{% endblock %}

{% block jsLink %}
    <script src="{% static 'js/halaman_login.js' %}"></script>
{% endblock %}