body {
    background-color: white;
}

.login-box{    
    background-color: white;
    margin : 5% 25vw 20vh 25vw;
    padding: 20px;
    border-radius: 12px;
}

.center-text{
    text-align: center;
}

.helper1, .helper2, .helper3, .helper4, .helper5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 0;
}
.helper1{
    text-align: right;
    font-size: 18px;
    font-weight: bold;
}
.helper{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
}
#login{
    margin: auto;
}
#judul{
    font-size: 30px;
    font-family: 'Arvo', Georgia, Times, serif;
    margin-left: 8%;
}
.helper2 > *{
    width: 80%;
}
.helper4 > *{
    width: 70%;
}
@media (max-width: 1024px) {
    .login-box {
        margin : 5% 15vw 30vh 15vw;
    }
}
@media (max-width: 768px) {
    .helper1 {
        text-align: left;
    }
    .helper2 > *, .helper4 > *{
        width: 100%;
    }
    #judul{
        margin-left: 0%;
    }
    #idJenis{
        margin-top: 20px;
    }
}