{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/tambah_menu.css' %}">
{% endblock %}

{% block customCss %}
{% endblock %}

{% block content %}
    <div class="container" id="tampung">
      <span id="judul">Tambah Menu Baru</span>
      <hr class="my-3">
      <form enctype="multipart/form-data" action="{% url 'TambahMenu:submit-form' %}" method="post">
        {% csrf_token %}
        <div class="row" style="padding: 0 20px;">
            {{menu_form}}
        </div>
        <div class="row helper3" style="padding: 0 20px;margin-top:40px;">
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#SmokeModal" id="kumpul">Tambah Menu</button>    
            <div class="modal fade" id="SmokeModal" tabindex="-1" role="dialog" aria-labelledby="SmokeModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Tambah Menu</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="d-flex p-2 bd-highlight">
                                Apakah anda yakin membuat Menu baru ?
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Yakin</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </form>
    </div>
{% endblock %}