{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/buka_counter.css' %}">
{% endblock %}

{% block customCss %}
{% endblock %}

{% block content %}
    <div class="container" id="tampung">
      <span id="judul">Buka Counter Baru</span>
      <hr class="my-3">
      <form action="{% url 'BukaCounter:submit-form' %}" method="post" id="kumpulin">
        {% csrf_token %}
        <div class="row" style="padding: 0 20px;">
            <div class="row helper">
                <div class="col-md-3 helper1">Nama Counter</div>
                <div class="col-md-9 helper2"><input type="text" class="form-control" id="idNama" 
				name="namaCounter" pattern="(?=.*[a-zA-Z]).*" title="Harus terdapat huruf"></div>
            </div>
            <div class="row helper">
                <div class="col-md-3 helper1">Jenis Counter</div>
                <div class="col-md-3 helper5">
                    <select class="form-control" id="idPilihan" name="jenisCounter">
                      <option value="" selected disabled></option>
                      <option value="Makanan">Makanan</option>
                      <option value="Minuman">Minuman</option>
                      <option value="3">Jenis lain ...</option>
                    </select>
                </div>
                <div class="col-md-6 helper4"><input type="text" class="form-control" id="idJenis" 
                placeholder="Masukkan jenis counter..." name="jenisCounter2" style="display:none;"></div>
            </div>
            <div class="row helper">
                <div class="col-md-3 helper1">Jam Buka</div>
                <div class="col-md-3 helper5"><input type="time" class="form-control" id="idBuka" name="jamBukaCounter"></div>
            </div>
            <div class="row helper">
                <div class="col-md-3 helper1">Jam Tutup</div>
                <div class="col-md-3 helper5"><input type="time" class="form-control" id="idTutup" name="jamTutupCounter"></div>
            </div>
            <div class="row helper">
                <div class="col-md-3 helper1">Status</div>
                <div class="col-md-9 helper2">
                    <select class="form-control" id="idStatus" name="statusCounter">
                      <option value="" selected disabled></option>
                      <option value="Buka">Buka</option>
                      <option value="Tutup">Tutup</option>
                      <option value="Libur">Libur</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row helper3" style="padding: 0 20px;margin-top:40px;">
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" id="kumpul" onclick="validate()">Buat Counter</button>    
            <div class="modal fade" id="SmokeModal" tabindex="-1" role="dialog" aria-labelledby="SmokeModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Konfirmasi</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="d-flex p-2 bd-highlight">
                                Apakah anda yakin membuat counter baru ?
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Yakin</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </form>
    </div>
{% endblock %}

{% block jsLink %}
    <script src="{% static 'js/buka_counter.js' %}"></script>
{% endblock %}