<!-- <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Daftar Transaksi</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/index.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body> -->
    {% extends "base.html" %}
    {% load staticfiles %}
    {% load static %}
    {% block title %}
        E-Canteen
    {% endblock %}
    {% block css %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    {% endblock %}
    
    {% block content %}    
    <div class="container">
        <div class="head-background" id="head-background"> </div>
        <input type="text" class="search" placeholder="Cari Transaksi" style="width: 200px">
        <button class="sort" data-sort="tanggal">Sort by Date</button>
        <button class="btn" onclick="showDummyForm()">DummyForm</button>
        <div class= "class-lg-6">
            <section name="form">
            <form style="display:none;" id="dummyForm" method="POST" action="{% url 'daftar_transaksi:tambah_transaksi'%}">
                {% csrf_token %}
                {{transaksi_form}}
                <br>
                <button class="btn">Add Dummy</button>
            </form>
            </section>
        </div>

        <div class="list-transaksi">
            {% for data in transaksi reversed %}
                <!-- {% if data.pedagang == pedagang  %} -->
                <div class="row" id="row-transaksi">
                    <div class="col-md-3">
                        <span class="tanggal">{{ data.tanggal }}</span>
                    </div>
                    <div class="col-md-6">
                        <span class="nama_pemesan">Pemesan : {{ data.pemesan }}</span>
                        <div class="w-100"></div>
                        <span class="status">Status : {{ data.status }}</span>
                    </div>
                    <div class="col-md-2">
                        <span class="harga">Total : {{data.totalHarga}}</span>
                    </div>
                    <div class="col-md-1">
                        <a href="#">
                            <div class="button-fill orange">
                                <div class="button-text">Detail</div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- {% endif %} -->
            {% endfor %}
                <!-- <div class="col-md-2">
                    <span class="harga">Total : 16000</span>
                </div>
                <div class="col-md-1">
                    <a href="#" data-toggle="modal" data-target="#exampleModalCenter">
                        <div class="button-fill orange">
                            <div class="button-text">Detail</div>
                        </div>
                    </a>
                </div> -->
                {% if transaksi.has_other_pages %}
                <ul class="pagination">
                    {% if transaksi.has_previous %}
                        <li><a href="?page={{ transaksi.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    
                    {% for i in transaksi.paginator.page_range %}
                        {% if transaksi.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    
                    {% if transaksi.has_next %}
                        <li><a href="?page={{ transaksi.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
                {% endif %}
        </div>
    </div>
    <script>
    $(".button-fill").hover(
        function() {
            $(this)
            .children(".button-inside")
            .addClass("full");
        },
        function() {
            $(this)
            .children(".button-inside")
            .removeClass("full");
        }
    );
    </script>
    <script src="\static\js\script.js"></script>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLongTitle" style="color: black;">Transaksi 17/01/2018</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <h4 style="color: black; padding-left: 25px;">Status : Diproses</h4>
                <div class="modal-body">
                    <div class="row" id="row-modal">
                        <div class="col-sm">
                            Asumsi Gambar Makanan 1 & Keterangan Lain-Lain
                        </div>
                        <div class="col-sm">
                            Asumsi Gambar Makanan 2 & Keterangan Lain-Lain
                        </div>
                        <div class="col-sm">
                            Asumsi Gambar Makanan 3 & Keterangan Lain-Lain
                        </div>
                    </div> 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-success">Terima Pesanan</button>
                    <button type="button" class="btn btn-primary">Tolak Pesanan</button>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}