	#tampung{    
        background-color: white;
        margin-top: 5%;
        margin-bottom: 5%;
        padding: 20px;
        border-radius: 12px;
    }
    .helper1, .helper2, .helper3, .helper4, .helper5 .helper6{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 0;
    }
    .helper1{
        text-align: right;
        font-size: 18px;
        font-weight: bold;
    }
    .helper{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0;
    }
    #kumpul{
        margin: auto;
    }
    #judul{
        font-size: 30px;
        font-family: 'Arvo', Georgia, Times, serif;
        margin-left: 8%;
    }
    .helper2 > *{
        width: 80%;
    }
    .helper4 > *{
        width: 70%;
    }
    @media (max-width: 768px) {
        .helper1 {
            text-align: left;
        }
        .helper2 > *, .helper4 > *{
            width: 100%;
        }
        #judul{
            margin-left: 0%;
        }
    }