body{
    margin: 0;
    max-width: 100vw;
    height: 100vh;
    color: White;
    background: white;
}

input {
    color: black;
}

.col-md-3 img{
    width: 100%;
}

.container {
    height: 100%;
    width: 80%;
}


#row-transaksi {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    background-color: #ffffff;
    border: 3px solid #cccccc;
    padding: 10px;
    box-shadow: inset 0 3px 0 #fff;
    margin: 20px 0 20px 0;
    color: #000;
}

#row-modal {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    background-color: #ffffff;
    padding: 10px;
    color: #000;
}

#footer-part {
  position: absolute;
  color: black;
  width: 100%;
  bottom: 0;
  height: a;
  background-color: #f26b43;
}

#head-background {
    background-image: url("/daftar_transaksi/assets/canteen.jpg");
    background-size: 40% 100%;
    width: 100%;
    height: 40%;
    margin-bottom: 20px;
}

* {
    font-family: "Open Sans", sans-serif;
  }

  .button-fill {
    text-align: center;
    background: #ccc;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    margin-right: 10px;
  }
  .button-fill.orange {
    background: #f26b43;
    color: #fff;
  }
  .button-fill.orange .button-inside {
    color: #f26b43;
  }
  .button-fill.orange .button-inside.full {
    border: 1px solid #f26b43;
  }
  .button-text {
    padding: 0px 10px;
    line-height: 26px;
    letter-spacing: 0.1em;
  }
  .button-inside {
    width: 0px;
    height: 26px;
    margin: 0;
    float: left;
    position: absolute;
    top: 1px;
    left: 50%;
    line-height: 26px;
    color: #445561;
    background: #fff;
    text-align: center;
    overflow: hidden;
    -webkit-transition: width 0.5s, left 0.5s, margin 0.5s;
    -moz-transition: width 0.5s, left 0.5s, margin 0.5s;
    -o-transition: width 0.5s, left 0.5s, margin 0.5s;
    transition: width 0.5s, left 0.5s, margin 0.5s;
  }
  .button-inside.full {
    width: 100%;
    left: 0%;
    top: 0;
    margin-right: 0px;
    border: 1px solid #445561;
  }
  .inside-text {
    text-align: center;
    position: absolute;
    right: 50%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }
  